.one {
    background-color: aquamarine;
    margin-inline: green;
    margin-top: auto;
    border: 1px solid yellow;
    font-size: small;
}
.two {
    margin: 20px;
    border: 20px solid green;
}
.liste1 {
    background-color: black;
    color: yellow   ;
    margin: 30px    ;
    border: red 15px solid;
    padding-top: 15px;
    height: auto;
    width: 100px;
    
}
.link {
    background-color: red;
    color: aqua;
    font-size: 200px;
}
.ja {
    
    color: aquamarine;
    background-color: black;    
    border: red solid;
    width: 600px;
    margin: auto;
    display: inline;
}
.rick {
    color: blueviolet;
    background-color: black;
    margin: auto;
    width: 300px;
    display: inline;
}
a {
    color: tomato;
    background-color: powderblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
